@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.btn {
  display: inline-block;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0.1875rem 1rem;
  line-height: 1.875rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.nav__points {
  position: fixed;
  top: 5.625rem;
  right: 3%; }
  .nav__points-list--item {
    cursor: pointer;
    display: block;
    border: 0.0625rem solid transparent;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    position: relative;
    margin-bottom: 0.3125rem; }
    .nav__points-list--item.point-active {
      border-color: #fff; }

.nav__radio-fake {
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.1875rem;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }
  .nav__radio-fake:hover {
    background-color: #f8b43a; }

.nav__radio-elem {
  position: absolute;
  top: 0px;
  right: -624.9375rem; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 58.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 40.625rem; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

.hero {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }
  .nav__list {
    margin: 0;
    padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 8%; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 8%; }

.hero__img, .hero__description {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1; }

.arrow {
  cursor: pointer;
  background-color: transparent;
  border: none; }

.arrow__img {
  width: 1.8125rem;
  height: 0.875rem; }

.best {
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title--black {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem; }

.features__list {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.features__img {
  margin-bottom: 1.25rem; }

.features__title {
  font-family: Lifehack;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.125rem;
  margin-bottom: 0.9375rem; }

.features__text {
  font-weight: 300; }

.reviews {
  width: 100%; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  color: #fff; }

.reviews__item {
  overflow: hidden;
  height: 50%;
  width: 25%;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .reviews__item:hover .reviews__content {
    opacity: 0.8;
    background-color: rgba(20, 20, 20, 0.8); }

.reviews__photo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.reviews__content {
  width: 100%;
  height: 100%;
  padding: 3.5625rem 1.25rem; }

.review__title {
  font-family: Gagalin;
  margin-bottom: 1.25rem; }

.review__text {
  margin-bottom: 1.25rem;
  font-family: Ubuntu;
  font-weight: 300;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.5rem; }

.review__btn {
  background-color: #2f3234; }
  .review__btn:hover {
    background-color: #171819; }

/*# sourceMappingURL=main.css.map */