.order {
    background: url('../img/order.png') center center no-repeat;
    background-size: cover;
  }

.order__container {
    // display: flex;
    // // flex-direction: column;
    // // justify-content: center;
}

.order__title {
    @media screen and (max-width:659px){
        text-align: center;
    }
}

.form {
    margin-top: rem(57px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #fff;
    font-size: rem(14px);
    font-weight: 300;

    // @media screen and (max-width:940px) {
    //     margin-left: 0;
    //     flex-direction: column;
    //     align-items: center;
    // }
    @include tablets {
        justify-content: center;
    }
    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.form__part {
    width: 49%;
    @include tablets {
        width: 60%;
    }
    @include phones {
        width: 80%;
    }
}
  
  .form__input {
    width: 100%;
    font-family: ubuntu;
    border-radius: rem(5px);
    border: rem(1px) solid transparent;
    outline: none;
    cursor: pointer;
    padding: rem(10px);

    &:hover{
        border-color: $orange;
    }
  }
  
  .form__row {
    display: flex;
    margin-bottom: rem(20px);
  }
  
  .form__block {
    flex: 1;
    margin-right: rem(20px);
    
    &:last-child {
      margin-right: 0;
    }
    &-title{
        margin-bottom: rem(5px);
        
    }
  }

  .form__input-textarea {
      resize: none;
      height: rem(112px);
      margin-bottom: rem(20px);
  }



  .form__radio-type {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-right: rem(20px);
  }

  .form__radio {
      display: flex;
    margin-bottom: rem(20px);
    &-btn {
        display: none;
    }
    &-fake{
        width: rem(15px);
        height: rem(15px);
        border-radius: rem(7px);
        background-color: #fff;
        border: none;
        position: relative;
        cursor: pointer;
        margin-right: rem(10px);
    }
  }

  .form__radio-btn:checked+.form__radio-fake:after{
    content: "";
    width: rem(7px);
    height: rem(7px);
    border-radius: rem(4px);
    background-color: $orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .form__checkbox {
      display: flex;
      align-items: center;
      margin-bottom: rem(20px);
      &-input{
          display: none;
      }
      &-fake{
          display: inline-flex;
          background-color: #fff;
          height: rem(15px);
          width: rem(15px);
          margin-right: rem(10px);
          position: relative;
      }      
  }

  .form__checkbox-input:checked + .form__checkbox-fake:after{
    content: "";
    height: 0.5625rem;
    width: 0.6875rem;
    position: absolute;
    background: url(../img/checkmark.png) 50% 50% no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .form__submit {
      margin-top: rem(20px);
      @include tablets {
        display: flex;
        justify-content: center;
    }
  }

  .form__btn--order {
      background-color: $orange;
      &:hover{
          background-color: darken($orange,10%);
      }
  }

  .form__btn--clear {
    background-color: transparent;
    &:hover {
        background-color: darken($dark,5%);
    }
  }