.reviews {
    width: 100%;
}

.reviews__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    color: #fff;
}

.reviews__item {
    overflow: hidden;
    height: 50%;
    width: 25%;
    position: relative;
    filter: grayscale(100%);
    &:hover .reviews__content {
        opacity: 0.8;
        background-color: rgba(20, 20, 20, 0.8);
    }
}

.reviews__photo {
    filter: grayscale(100%);
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__content {
    width: 100%;
    height: 100%;
    padding: rem(57px) rem(20px);
}

.review__title {
    font-family: Gagalin;
    margin-bottom: rem(20px);
}

.review__text {
    margin-bottom: rem(20px);
    font-family: Ubuntu;
    font-weight: 300;
    font-size: rem(14px);
    font-style: normal;
    line-height: rem(24px);
}

.review__btn {
    background-color: $dark;
    &:hover {
        background-color: #171819;
    }
}